
body {background-color: orangered;
}
h1 {text-align: center;
    font-size: 250%;
     color:rgb(0, 0, 0);}
#ima1 {width: 50%;
    margin-left: 25%;
}
h3 {font-size: 200%;
    color:orange;
}
#ima2 {width: 50%;
   margin-right: 25%;
}